@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

/* CSS RULES FOR FONTS 
font-family: 'Lato', sans-serif;
font-family: 'Staatliches', cursive;
*/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  }

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.2rem;
}

h2, h3, h4, p, form {
  color: antiquewhite;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  padding-top: 0.7rem;
  padding-bottom: 0.3rem;
}

h3 {
  font-size: 2rem;
}

h4, p, form, .btn {
  font-family: 'Lato', sans-serif;
}

header {
  background: #af0404;
  padding-top: 0.7rem;
  padding-bottom: 0.3rem;
  text-align: center;
  width: 100vw;
  margin: auto;
  border-bottom: 2px solid black;
}

.btn {
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 7px;
  padding: 0.7rem;
  background-color: #313131;
  color: antiquewhite;
  box-shadow: 3px 3px 4px 2px black;
  -webkit-appearance: none;
  font-size: 1.5rem;
}

button:hover, button:focus {
  background-color: #af0404;
}

header p {
  color: antiquewhite;
  font-size: 1.4rem;
  margin-top: 0;
}

body {
  background-image: url(images/curtain-large.jpg);
  width: fit-content;
  background-position: top;
  background-repeat: no-repeat;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 1px 1px black;
}

.container {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.submitButton {
  align-self: center;
  margin-top: 0.7rem;
  max-width: 35vw;
}

label[class="answers"]{
  color: antiquewhite;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #313131;
  border-radius: 7px;
  box-shadow: 3px 3px 5px 2px black;
  margin-bottom: 1.5rem;
  padding: 0.7rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

label[class="answers"]:hover, label[class="answers"]:focus {
  background-color: #af0404;
}

input[type="radio"]:checked + label {
  background-color: #ff0000;
  color: black;
}

form {
  font-size: 1.5rem;
}

@media (min-width:1000px) {
  h1 {
    font-size: 5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
  }

  header {
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    text-align: center;
    width: 100vw;
    margin: auto;
    border-bottom: 7px solid black;
  }

  header p {
    font-size: 2rem;
    margin-top: 0;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  input[type=text] {
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 1px 1px black;
  }

  label[class="answers"] {
    max-width: 50%;
    margin: auto;
  }

  img {
    margin-bottom: 1rem;
  }

  .movie-grid {
    display: grid;
    gap: 2rem;
    grid-template-areas:
    'movie-title movie-title'
    'movie-poster plot'
    ;
  }

  /* .results-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
    'movie-title movie-title'
    'movie-poster runtime-rating'
    'movie-poster plot';
  } */

  .results-grid {
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-template-columns: 35% 35%;
    grid-template-rows: auto;
    grid-template-areas: 
    "movie-poster runtime-rating" 
    "movie-poster rt-score"
    "movie-poster plot"
    ;
  }

  .movie-title {
    grid-area: movie-title;
  }

  .movie-poster {
    grid-area: movie-poster;
  }
  .plot {
    grid-area: plot;
    max-width: 70%;
    margin: auto;
  }

  .runtime-rating {
    grid-area: runtime-rating;
  }

  .rt-score {
    grid-area: rt-score;
  }
}